1-WebApplication/AdevicoWeb/Service References/SrvNotifications/lm.Comol.Core.Notification.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/lm.Comol.Core.Notification.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.Notification.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="NotificationAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCommunity" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IdInternalUsers" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="IdModuleAction" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IdModuleUsers" nillable="true" type="q2:ArrayOflong" />
      <xs:element minOccurs="0" name="IdObject" type="xs:long" />
      <xs:element minOccurs="0" name="IdObjectType" type="xs:long" />
      <xs:element minOccurs="0" name="ModuleCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationAction" nillable="true" type="tns:NotificationAction" />
  <xs:simpleType name="NotificationChannel">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Mail">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CommunityNews">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PersonalNews">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Memo">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="NotificationChannel" nillable="true" type="tns:NotificationChannel" />
  <xs:simpleType name="NotificationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Automatic" />
      <xs:enumeration value="Scheduling" />
      <xs:enumeration value="Manual" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NotificationMode" nillable="true" type="tns:NotificationMode" />
</xs:schema>