3-Business/3-Modules/lm.Comol.Modules.Standard/Service References/OMuserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax26="http://domain.beans.persistence.app.openmeetings.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://user.beans.persistence.app.openmeetings.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns="http://services.axis.openmeetings.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax210="http://basic.beans.data.app.openmeetings.org/xsd" xmlns:ax22="http://adresses.beans.persistence.app.openmeetings.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax24="http://basic.beans.persistence.app.openmeetings.org/xsd" targetNamespace="http://services.axis.openmeetings.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>UserService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.beans.persistence.app.openmeetings.org/xsd">
      <xs:complexType name="Organisation_Users">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleted" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isModerator" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="organisation" nillable="true" type="ax26:Organisation" />
          <xs:element minOccurs="0" name="organisation_users_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Organisation">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleted" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="insertedby" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="organisation_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="updatedby" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://adresses.beans.persistence.app.openmeetings.org/xsd">
      <xs:complexType name="Adresses">
        <xs:sequence>
          <xs:element minOccurs="0" name="additionalname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="adresses_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="deleted" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="states" nillable="true" type="ax22:States" />
          <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="States">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleted" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="state_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax25="http://basic.beans.persistence.app.openmeetings.org/xsd" xmlns:ax23="http://adresses.beans.persistence.app.openmeetings.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://user.beans.persistence.app.openmeetings.org/xsd">
      <xs:import namespace="http://adresses.beans.persistence.app.openmeetings.org/xsd" />
      <xs:import namespace="http://basic.beans.persistence.app.openmeetings.org/xsd" />
      <xs:complexType name="Users">
        <xs:sequence>
          <xs:element minOccurs="0" name="activatehash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="adresses" nillable="true" type="ax23:Adresses" />
          <xs:element minOccurs="0" name="age" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="availible" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="deleted" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="forceTimeZoneCheck" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="language_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="lastlogin" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lasttrans" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="level_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="lieferadressen" nillable="true" type="ax21:Userdata" />
          <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="omTimeZone" nillable="true" type="ax25:OmTimeZone" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="organisation_users" nillable="true" type="ax26:Organisation_Users" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pictureuri" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rechnungsaddressen" nillable="true" type="ax21:Userdata" />
          <xs:element minOccurs="0" name="regdate" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="resethash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sessionData" nillable="true" type="ax25:Sessiondata" />
          <xs:element minOccurs="0" name="showContactData" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="showContactDataToContacts" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="title_id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="userOffers" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userSearchs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userSipData" nillable="true" type="ax21:UserSipData" />
          <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="userlevel" nillable="true" type="ax21:Userlevel" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Userdata">
        <xs:sequence>
          <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="data_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="data_key" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="deleted" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserSipData">
        <xs:sequence>
          <xs:element minOccurs="0" name="authId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="inserted" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="updated" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="userSipDataId" type="xs:long" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userpass" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Userlevel">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleted" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="level_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="starttime" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="statuscode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="updatetime" nillable="true" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://basic.beans.data.app.openmeetings.org/xsd">
      <xs:complexType name="ErrorResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="errmessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="errorId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="errortype" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax27="http://domain.beans.persistence.app.openmeetings.org/xsd" xmlns:ax28="http://user.beans.persistence.app.openmeetings.org/xsd" xmlns:ax29="http://basic.beans.persistence.app.openmeetings.org/xsd" xmlns:ax211="http://basic.beans.data.app.openmeetings.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.axis.openmeetings.org">
      <xs:import namespace="http://domain.beans.persistence.app.openmeetings.org/xsd" />
      <xs:import namespace="http://user.beans.persistence.app.openmeetings.org/xsd" />
      <xs:import namespace="http://basic.beans.persistence.app.openmeetings.org/xsd" />
      <xs:import namespace="http://basic.beans.data.app.openmeetings.org/xsd" />
      <xs:element name="setUserObjectWithExternalUser">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectWithExternalUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectMainLandingZone">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectMainLandingZoneResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectAndGenerateRoomHashByURLAndRecFlag">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string" />
            <xs:element name="room_id" type="xs:long" />
            <xs:element name="becomeModeratorAsInt" type="xs:int" />
            <xs:element name="showAudioVideoTestAsInt" type="xs:int" />
            <xs:element name="allowRecording" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectAndGenerateRoomHashByURLAndRecFlagResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectAndGenerateRoomHashByURL">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string" />
            <xs:element name="room_id" type="xs:long" />
            <xs:element name="becomeModeratorAsInt" type="xs:int" />
            <xs:element name="showAudioVideoTestAsInt" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectAndGenerateRoomHashByURLResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectAndGenerateRoomHash">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string" />
            <xs:element name="room_id" type="xs:long" />
            <xs:element name="becomeModeratorAsInt" type="xs:int" />
            <xs:element name="showAudioVideoTestAsInt" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectAndGenerateRoomHashResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectAndGenerateRecordingHashByURL">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string" />
            <xs:element name="recording_id" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectAndGenerateRecordingHashByURLResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObject">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserObjectResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserAndNickName">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="profilePictureUrl" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string" />
            <xs:element name="room_id" type="xs:long" />
            <xs:element name="becomeModeratorAsInt" type="xs:int" />
            <xs:element name="showAudioVideoTestAsInt" type="xs:int" />
            <xs:element name="showNickNameDialogAsInt" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setUserAndNickNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginUser">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="userpass" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kickUserByPublicSID">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="publicSID" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="kickUserByPublicSIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUsersByOrganisation">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element name="organisation_id" type="xs:long" />
            <xs:element name="start" type="xs:int" />
            <xs:element name="max" type="xs:int" />
            <xs:element minOccurs="0" name="orderby" nillable="true" type="xs:string" />
            <xs:element name="asc" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUsersByOrganisationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax28:Users" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSession">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getSessionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:Sessiondata" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getErrorByCode">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element name="errorid" type="xs:long" />
            <xs:element name="language_id" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getErrorByCodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax211:ErrorResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteUserById">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element name="userId" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteUserByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteUserByExternalUserIdAndType">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteUserByExternalUserIdAndTypeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addUserToOrganisation">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element name="user_id" type="xs:long" />
            <xs:element name="organisation_id" type="xs:long" />
            <xs:element name="insertedby" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addUserToOrganisationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addNewUserWithTimeZone">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="userpass" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="additionalname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
            <xs:element name="states_id" type="xs:long" />
            <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
            <xs:element name="language_id" type="xs:long" />
            <xs:element minOccurs="0" name="baseURL" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="jNameTimeZone" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addNewUserWithTimeZoneResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addNewUserWithExternalType">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="userpass" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="additionalname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
            <xs:element name="states_id" type="xs:long" />
            <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
            <xs:element name="language_id" type="xs:long" />
            <xs:element minOccurs="0" name="jNameTimeZone" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="externalUserType" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addNewUserWithExternalTypeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addNewUser">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="userpass" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="additionalname" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
            <xs:element name="states_id" type="xs:long" />
            <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
            <xs:element name="language_id" type="xs:long" />
            <xs:element minOccurs="0" name="baseURL" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addNewUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://basic.beans.persistence.app.openmeetings.org/xsd">
      <xs:complexType name="OmTimeZone">
        <xs:sequence>
          <xs:element minOccurs="0" name="frontEndLabel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ical" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="inserted" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="jname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="omtimezoneId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Sessiondata">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="language_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="organization_id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="refresh_time" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="sessionXml" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="session_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="starttermin_time" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="storePermanent" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setUserObjectMainLandingZoneRequest">
    <wsdl:part name="parameters" element="ns:setUserObjectMainLandingZone" />
  </wsdl:message>
  <wsdl:message name="setUserObjectMainLandingZoneResponse">
    <wsdl:part name="parameters" element="ns:setUserObjectMainLandingZoneResponse" />
  </wsdl:message>
  <wsdl:message name="deleteUserByIdRequest">
    <wsdl:part name="parameters" element="ns:deleteUserById" />
  </wsdl:message>
  <wsdl:message name="deleteUserByIdResponse">
    <wsdl:part name="parameters" element="ns:deleteUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="setUserObjectAndGenerateRoomHashByURLRequest">
    <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHashByURL" />
  </wsdl:message>
  <wsdl:message name="setUserObjectAndGenerateRoomHashByURLResponse">
    <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHashByURLResponse" />
  </wsdl:message>
  <wsdl:message name="getUsersByOrganisationRequest">
    <wsdl:part name="parameters" element="ns:getUsersByOrganisation" />
  </wsdl:message>
  <wsdl:message name="getUsersByOrganisationResponse">
    <wsdl:part name="parameters" element="ns:getUsersByOrganisationResponse" />
  </wsdl:message>
  <wsdl:message name="addNewUserRequest">
    <wsdl:part name="parameters" element="ns:addNewUser" />
  </wsdl:message>
  <wsdl:message name="addNewUserResponse">
    <wsdl:part name="parameters" element="ns:addNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="addNewUserWithTimeZoneRequest">
    <wsdl:part name="parameters" element="ns:addNewUserWithTimeZone" />
  </wsdl:message>
  <wsdl:message name="addNewUserWithTimeZoneResponse">
    <wsdl:part name="parameters" element="ns:addNewUserWithTimeZoneResponse" />
  </wsdl:message>
  <wsdl:message name="setUserAndNickNameRequest">
    <wsdl:part name="parameters" element="ns:setUserAndNickName" />
  </wsdl:message>
  <wsdl:message name="setUserAndNickNameResponse">
    <wsdl:part name="parameters" element="ns:setUserAndNickNameResponse" />
  </wsdl:message>
  <wsdl:message name="setUserObjectAndGenerateRoomHashRequest">
    <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHash" />
  </wsdl:message>
  <wsdl:message name="setUserObjectAndGenerateRoomHashResponse">
    <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHashResponse" />
  </wsdl:message>
  <wsdl:message name="setUserObjectAndGenerateRecordingHashByURLRequest">
    <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRecordingHashByURL" />
  </wsdl:message>
  <wsdl:message name="setUserObjectAndGenerateRecordingHashByURLResponse">
    <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRecordingHashByURLResponse" />
  </wsdl:message>
  <wsdl:message name="deleteUserByExternalUserIdAndTypeRequest">
    <wsdl:part name="parameters" element="ns:deleteUserByExternalUserIdAndType" />
  </wsdl:message>
  <wsdl:message name="deleteUserByExternalUserIdAndTypeResponse">
    <wsdl:part name="parameters" element="ns:deleteUserByExternalUserIdAndTypeResponse" />
  </wsdl:message>
  <wsdl:message name="getSessionRequest">
    <wsdl:part name="parameters" element="ns:getSession" />
  </wsdl:message>
  <wsdl:message name="getSessionResponse">
    <wsdl:part name="parameters" element="ns:getSessionResponse" />
  </wsdl:message>
  <wsdl:message name="loginUserRequest">
    <wsdl:part name="parameters" element="ns:loginUser" />
  </wsdl:message>
  <wsdl:message name="loginUserResponse">
    <wsdl:part name="parameters" element="ns:loginUserResponse" />
  </wsdl:message>
  <wsdl:message name="setUserObjectRequest">
    <wsdl:part name="parameters" element="ns:setUserObject" />
  </wsdl:message>
  <wsdl:message name="setUserObjectResponse">
    <wsdl:part name="parameters" element="ns:setUserObjectResponse" />
  </wsdl:message>
  <wsdl:message name="addUserToOrganisationRequest">
    <wsdl:part name="parameters" element="ns:addUserToOrganisation" />
  </wsdl:message>
  <wsdl:message name="addUserToOrganisationResponse">
    <wsdl:part name="parameters" element="ns:addUserToOrganisationResponse" />
  </wsdl:message>
  <wsdl:message name="getErrorByCodeRequest">
    <wsdl:part name="parameters" element="ns:getErrorByCode" />
  </wsdl:message>
  <wsdl:message name="getErrorByCodeResponse">
    <wsdl:part name="parameters" element="ns:getErrorByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="kickUserByPublicSIDRequest">
    <wsdl:part name="parameters" element="ns:kickUserByPublicSID" />
  </wsdl:message>
  <wsdl:message name="kickUserByPublicSIDResponse">
    <wsdl:part name="parameters" element="ns:kickUserByPublicSIDResponse" />
  </wsdl:message>
  <wsdl:message name="setUserObjectAndGenerateRoomHashByURLAndRecFlagRequest">
    <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHashByURLAndRecFlag" />
  </wsdl:message>
  <wsdl:message name="setUserObjectAndGenerateRoomHashByURLAndRecFlagResponse">
    <wsdl:part name="parameters" element="ns:setUserObjectAndGenerateRoomHashByURLAndRecFlagResponse" />
  </wsdl:message>
  <wsdl:message name="setUserObjectWithExternalUserRequest">
    <wsdl:part name="parameters" element="ns:setUserObjectWithExternalUser" />
  </wsdl:message>
  <wsdl:message name="setUserObjectWithExternalUserResponse">
    <wsdl:part name="parameters" element="ns:setUserObjectWithExternalUserResponse" />
  </wsdl:message>
  <wsdl:message name="addNewUserWithExternalTypeRequest">
    <wsdl:part name="parameters" element="ns:addNewUserWithExternalType" />
  </wsdl:message>
  <wsdl:message name="addNewUserWithExternalTypeResponse">
    <wsdl:part name="parameters" element="ns:addNewUserWithExternalTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="UserServicePortType">
    <wsdl:operation name="setUserObjectMainLandingZone">
      <wsdl:input wsaw:Action="urn:setUserObjectMainLandingZone" message="ns:setUserObjectMainLandingZoneRequest" />
      <wsdl:output wsaw:Action="urn:setUserObjectMainLandingZoneResponse" message="ns:setUserObjectMainLandingZoneResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteUserById">
      <wsdl:input wsaw:Action="urn:deleteUserById" message="ns:deleteUserByIdRequest" />
      <wsdl:output wsaw:Action="urn:deleteUserByIdResponse" message="ns:deleteUserByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHashByURL">
      <wsdl:input wsaw:Action="urn:setUserObjectAndGenerateRoomHashByURL" message="ns:setUserObjectAndGenerateRoomHashByURLRequest" />
      <wsdl:output wsaw:Action="urn:setUserObjectAndGenerateRoomHashByURLResponse" message="ns:setUserObjectAndGenerateRoomHashByURLResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUsersByOrganisation">
      <wsdl:input wsaw:Action="urn:getUsersByOrganisation" message="ns:getUsersByOrganisationRequest" />
      <wsdl:output wsaw:Action="urn:getUsersByOrganisationResponse" message="ns:getUsersByOrganisationResponse" />
    </wsdl:operation>
    <wsdl:operation name="addNewUser">
      <wsdl:input wsaw:Action="urn:addNewUser" message="ns:addNewUserRequest" />
      <wsdl:output wsaw:Action="urn:addNewUserResponse" message="ns:addNewUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="addNewUserWithTimeZone">
      <wsdl:input wsaw:Action="urn:addNewUserWithTimeZone" message="ns:addNewUserWithTimeZoneRequest" />
      <wsdl:output wsaw:Action="urn:addNewUserWithTimeZoneResponse" message="ns:addNewUserWithTimeZoneResponse" />
    </wsdl:operation>
    <wsdl:operation name="setUserAndNickName">
      <wsdl:input wsaw:Action="urn:setUserAndNickName" message="ns:setUserAndNickNameRequest" />
      <wsdl:output wsaw:Action="urn:setUserAndNickNameResponse" message="ns:setUserAndNickNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHash">
      <wsdl:input wsaw:Action="urn:setUserObjectAndGenerateRoomHash" message="ns:setUserObjectAndGenerateRoomHashRequest" />
      <wsdl:output wsaw:Action="urn:setUserObjectAndGenerateRoomHashResponse" message="ns:setUserObjectAndGenerateRoomHashResponse" />
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRecordingHashByURL">
      <wsdl:input wsaw:Action="urn:setUserObjectAndGenerateRecordingHashByURL" message="ns:setUserObjectAndGenerateRecordingHashByURLRequest" />
      <wsdl:output wsaw:Action="urn:setUserObjectAndGenerateRecordingHashByURLResponse" message="ns:setUserObjectAndGenerateRecordingHashByURLResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteUserByExternalUserIdAndType">
      <wsdl:input wsaw:Action="urn:deleteUserByExternalUserIdAndType" message="ns:deleteUserByExternalUserIdAndTypeRequest" />
      <wsdl:output wsaw:Action="urn:deleteUserByExternalUserIdAndTypeResponse" message="ns:deleteUserByExternalUserIdAndTypeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSession">
      <wsdl:input wsaw:Action="urn:getSession" message="ns:getSessionRequest" />
      <wsdl:output wsaw:Action="urn:getSessionResponse" message="ns:getSessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <wsdl:input wsaw:Action="urn:loginUser" message="ns:loginUserRequest" />
      <wsdl:output wsaw:Action="urn:loginUserResponse" message="ns:loginUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="setUserObject">
      <wsdl:input wsaw:Action="urn:setUserObject" message="ns:setUserObjectRequest" />
      <wsdl:output wsaw:Action="urn:setUserObjectResponse" message="ns:setUserObjectResponse" />
    </wsdl:operation>
    <wsdl:operation name="addUserToOrganisation">
      <wsdl:input wsaw:Action="urn:addUserToOrganisation" message="ns:addUserToOrganisationRequest" />
      <wsdl:output wsaw:Action="urn:addUserToOrganisationResponse" message="ns:addUserToOrganisationResponse" />
    </wsdl:operation>
    <wsdl:operation name="getErrorByCode">
      <wsdl:input wsaw:Action="urn:getErrorByCode" message="ns:getErrorByCodeRequest" />
      <wsdl:output wsaw:Action="urn:getErrorByCodeResponse" message="ns:getErrorByCodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="kickUserByPublicSID">
      <wsdl:input wsaw:Action="urn:kickUserByPublicSID" message="ns:kickUserByPublicSIDRequest" />
      <wsdl:output wsaw:Action="urn:kickUserByPublicSIDResponse" message="ns:kickUserByPublicSIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHashByURLAndRecFlag">
      <wsdl:input wsaw:Action="urn:setUserObjectAndGenerateRoomHashByURLAndRecFlag" message="ns:setUserObjectAndGenerateRoomHashByURLAndRecFlagRequest" />
      <wsdl:output wsaw:Action="urn:setUserObjectAndGenerateRoomHashByURLAndRecFlagResponse" message="ns:setUserObjectAndGenerateRoomHashByURLAndRecFlagResponse" />
    </wsdl:operation>
    <wsdl:operation name="setUserObjectWithExternalUser">
      <wsdl:input wsaw:Action="urn:setUserObjectWithExternalUser" message="ns:setUserObjectWithExternalUserRequest" />
      <wsdl:output wsaw:Action="urn:setUserObjectWithExternalUserResponse" message="ns:setUserObjectWithExternalUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="addNewUserWithExternalType">
      <wsdl:input wsaw:Action="urn:addNewUserWithExternalType" message="ns:addNewUserWithExternalTypeRequest" />
      <wsdl:output wsaw:Action="urn:addNewUserWithExternalTypeResponse" message="ns:addNewUserWithExternalTypeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceSoap11Binding" type="ns:UserServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setUserObjectMainLandingZone">
      <soap:operation soapAction="urn:setUserObjectMainLandingZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHashByURL">
      <soap:operation soapAction="urn:setUserObjectAndGenerateRoomHashByURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserById">
      <soap:operation soapAction="urn:deleteUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByOrganisation">
      <soap:operation soapAction="urn:getUsersByOrganisation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUserWithTimeZone">
      <soap:operation soapAction="urn:addNewUserWithTimeZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUser">
      <soap:operation soapAction="urn:addNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserAndNickName">
      <soap:operation soapAction="urn:setUserAndNickName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHash">
      <soap:operation soapAction="urn:setUserObjectAndGenerateRoomHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserByExternalUserIdAndType">
      <soap:operation soapAction="urn:deleteUserByExternalUserIdAndType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRecordingHashByURL">
      <soap:operation soapAction="urn:setUserObjectAndGenerateRecordingHashByURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSession">
      <soap:operation soapAction="urn:getSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <soap:operation soapAction="urn:loginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObject">
      <soap:operation soapAction="urn:setUserObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getErrorByCode">
      <soap:operation soapAction="urn:getErrorByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToOrganisation">
      <soap:operation soapAction="urn:addUserToOrganisation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kickUserByPublicSID">
      <soap:operation soapAction="urn:kickUserByPublicSID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHashByURLAndRecFlag">
      <soap:operation soapAction="urn:setUserObjectAndGenerateRoomHashByURLAndRecFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectWithExternalUser">
      <soap:operation soapAction="urn:setUserObjectWithExternalUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUserWithExternalType">
      <soap:operation soapAction="urn:addNewUserWithExternalType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceSoap12Binding" type="ns:UserServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setUserObjectMainLandingZone">
      <soap12:operation soapAction="urn:setUserObjectMainLandingZone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHashByURL">
      <soap12:operation soapAction="urn:setUserObjectAndGenerateRoomHashByURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserById">
      <soap12:operation soapAction="urn:deleteUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByOrganisation">
      <soap12:operation soapAction="urn:getUsersByOrganisation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUserWithTimeZone">
      <soap12:operation soapAction="urn:addNewUserWithTimeZone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUser">
      <soap12:operation soapAction="urn:addNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserAndNickName">
      <soap12:operation soapAction="urn:setUserAndNickName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHash">
      <soap12:operation soapAction="urn:setUserObjectAndGenerateRoomHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserByExternalUserIdAndType">
      <soap12:operation soapAction="urn:deleteUserByExternalUserIdAndType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRecordingHashByURL">
      <soap12:operation soapAction="urn:setUserObjectAndGenerateRecordingHashByURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSession">
      <soap12:operation soapAction="urn:getSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <soap12:operation soapAction="urn:loginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObject">
      <soap12:operation soapAction="urn:setUserObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getErrorByCode">
      <soap12:operation soapAction="urn:getErrorByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToOrganisation">
      <soap12:operation soapAction="urn:addUserToOrganisation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kickUserByPublicSID">
      <soap12:operation soapAction="urn:kickUserByPublicSID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHashByURLAndRecFlag">
      <soap12:operation soapAction="urn:setUserObjectAndGenerateRoomHashByURLAndRecFlag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectWithExternalUser">
      <soap12:operation soapAction="urn:setUserObjectWithExternalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUserWithExternalType">
      <soap12:operation soapAction="urn:addNewUserWithExternalType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceHttpBinding" type="ns:UserServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="setUserObjectMainLandingZone">
      <http:operation location="setUserObjectMainLandingZone" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHashByURL">
      <http:operation location="setUserObjectAndGenerateRoomHashByURL" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserById">
      <http:operation location="deleteUserById" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByOrganisation">
      <http:operation location="getUsersByOrganisation" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUserWithTimeZone">
      <http:operation location="addNewUserWithTimeZone" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUser">
      <http:operation location="addNewUser" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserAndNickName">
      <http:operation location="setUserAndNickName" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHash">
      <http:operation location="setUserObjectAndGenerateRoomHash" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserByExternalUserIdAndType">
      <http:operation location="deleteUserByExternalUserIdAndType" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRecordingHashByURL">
      <http:operation location="setUserObjectAndGenerateRecordingHashByURL" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSession">
      <http:operation location="getSession" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <http:operation location="loginUser" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObject">
      <http:operation location="setUserObject" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getErrorByCode">
      <http:operation location="getErrorByCode" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToOrganisation">
      <http:operation location="addUserToOrganisation" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kickUserByPublicSID">
      <http:operation location="kickUserByPublicSID" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectAndGenerateRoomHashByURLAndRecFlag">
      <http:operation location="setUserObjectAndGenerateRoomHashByURLAndRecFlag" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUserObjectWithExternalUser">
      <http:operation location="setUserObjectWithExternalUser" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewUserWithExternalType">
      <http:operation location="addNewUserWithExternalType" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="UserServiceHttpsSoap11Endpoint" binding="ns:UserServiceSoap11Binding">
      <soap:address location="https://192.168.222.240:8443/openmeetings/services/UserService.UserServiceHttpsSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="UserServiceHttpSoap11Endpoint" binding="ns:UserServiceSoap11Binding">
      <soap:address location="http://192.168.222.240:8080/openmeetings/services/UserService.UserServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="UserServiceHttpsSoap12Endpoint" binding="ns:UserServiceSoap12Binding">
      <soap12:address location="https://192.168.222.240:8443/openmeetings/services/UserService.UserServiceHttpsSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="UserServiceHttpSoap12Endpoint" binding="ns:UserServiceSoap12Binding">
      <soap12:address location="http://192.168.222.240:8080/openmeetings/services/UserService.UserServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="UserServiceHttpsEndpoint" binding="ns:UserServiceHttpBinding">
      <http:address location="https://192.168.222.240:8443/openmeetings/services/UserService.UserServiceHttpsEndpoint/" />
    </wsdl:port>
    <wsdl:port name="UserServiceHttpEndpoint" binding="ns:UserServiceHttpBinding">
      <http:address location="http://192.168.222.240:8080/openmeetings/services/UserService.UserServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>