3-Business/1-OldProject/COL_Entity/Service References/ErrorsNotificationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/lm.ErrorsNotification.DataContract.Domain" />
  <xs:element name="sendCommunityModuleError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/lm.ErrorsNotification.DataContract.Domain" minOccurs="0" name="error" nillable="true" type="q1:CommunityModuleError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendDBerror">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/lm.ErrorsNotification.DataContract.Domain" minOccurs="0" name="error" nillable="true" type="q2:DBerror" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendGenericError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/lm.ErrorsNotification.DataContract.Domain" minOccurs="0" name="error" nillable="true" type="q3:GenericError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendGenericModuleError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/lm.ErrorsNotification.DataContract.Domain" minOccurs="0" name="error" nillable="true" type="q4:GenericModuleError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendGenericWebError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/lm.ErrorsNotification.DataContract.Domain" minOccurs="0" name="error" nillable="true" type="q5:GenericWebError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendFileError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/lm.ErrorsNotification.DataContract.Domain" minOccurs="0" name="error" nillable="true" type="q6:FileError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>