3-Business/1-OldProject/COL_Presentation/Service References/WsSnmtp/WsSnmtp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendTrapString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTrapStringResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendTrapActionValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="tns:dtoActionValues" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="dtoActionValues">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="System" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Progressive" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="EventId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:dtoUserValues" />
          <s:element minOccurs="0" maxOccurs="1" name="Action" type="tns:dtoActionData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dtoUserValues">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="taxCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProxyIp" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dtoActionData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ModuleId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModuleCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActionCodeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActionTypeId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CommunityId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CommunityIsFederated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="InteractionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SuccessInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GenericInfo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendTrapActionValueResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendTrapStringSoapIn">
    <wsdl:part name="parameters" element="tns:SendTrapString" />
  </wsdl:message>
  <wsdl:message name="SendTrapStringSoapOut">
    <wsdl:part name="parameters" element="tns:SendTrapStringResponse" />
  </wsdl:message>
  <wsdl:message name="SendTrapActionValueSoapIn">
    <wsdl:part name="parameters" element="tns:SendTrapActionValue" />
  </wsdl:message>
  <wsdl:message name="SendTrapActionValueSoapOut">
    <wsdl:part name="parameters" element="tns:SendTrapActionValueResponse" />
  </wsdl:message>
  <wsdl:portType name="WsSnmtpSoap">
    <wsdl:operation name="SendTrapString">
      <wsdl:input message="tns:SendTrapStringSoapIn" />
      <wsdl:output message="tns:SendTrapStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTrapActionValue">
      <wsdl:input message="tns:SendTrapActionValueSoapIn" />
      <wsdl:output message="tns:SendTrapActionValueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsSnmtpSoap" type="tns:WsSnmtpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendTrapString">
      <soap:operation soapAction="http://tempuri.org/SendTrapString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTrapActionValue">
      <soap:operation soapAction="http://tempuri.org/SendTrapActionValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsSnmtpSoap12" type="tns:WsSnmtpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendTrapString">
      <soap12:operation soapAction="http://tempuri.org/SendTrapString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTrapActionValue">
      <soap12:operation soapAction="http://tempuri.org/SendTrapActionValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsSnmtp">
    <wsdl:port name="WsSnmtpSoap" binding="tns:WsSnmtpSoap">
      <soap:address location="http://localhost/Adevico.WebSNMTP/WsSnmtp.asmx" />
    </wsdl:port>
    <wsdl:port name="WsSnmtpSoap12" binding="tns:WsSnmtpSoap12">
      <soap12:address location="http://localhost/Adevico.WebSNMTP/WsSnmtp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>