3-Business/3-Modules/lm.Comol.Modules.Standard/Service References/InstantMessangerService/InstantMessengerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2205/InstantMessengerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:2205/InstantMessengerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_StandardModules.Chat1o1.Domain" />
  <xs:element name="GetChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ChatId" type="q1:guid" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_StandardModules.Chat1o1.Domain" minOccurs="0" name="GetChatResult" nillable="true" type="q2:Ct1o1_MessagesContainer_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_StandardModules.Chat1o1.Domain" minOccurs="0" name="GetChatsResult" nillable="true" type="q3:ArrayOfCt1o1_Chat_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_StandardModules.Chat1o1.Domain" minOccurs="0" name="StartUser" nillable="true" type="q4:Ct1o1_User_DTO" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_StandardModules.Chat1o1.Domain" minOccurs="0" name="TargetUser" nillable="true" type="q5:Ct1o1_User_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_StandardModules.Chat1o1.Domain" minOccurs="0" name="CreateChatResult" nillable="true" type="q6:Ct1o1_MessagesContainer_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ChatId" type="q7:guid" />
        <xs:element minOccurs="0" name="SenderId" type="xs:int" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscardChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SenderId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ChatId" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscardChatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscardAllChats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscardAllChatsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>