1-WebApplication/AdevicoWeb/Service References/SrvMailSender/lm.Comol.Core.DomainModel.Languages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/lm.Comol.Core.DomainModel.Languages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.DomainModel.Languages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ItemObjectTranslation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHtml" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlainBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemObjectTranslation" nillable="true" type="tns:ItemObjectTranslation" />
</xs:schema>