1-WebApplication/AdevicoWeb/Service References/SrvMailSender/lm.Comol.Core.Mail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/lm.Comol.Core.Mail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.Mail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dtoRecipient">
    <xs:sequence>
      <xs:element name="DisplayName" nillable="true" type="xs:string" />
      <xs:element name="MailAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dtoRecipient" nillable="true" type="tns:dtoRecipient" />
</xs:schema>