1-WebApplication/AdevicoWeb/Service References/SrvMailSender/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMailSender" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetMsmqBinding_iServiceMailSender_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.MailCommons.Domain.Messages" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.MailCommons.Domain" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.MailCommons.Domain.Configurations" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.Notification.Domain" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.DomainModel.Languages" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.DomainModel" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.Mail.Messages" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.Mail" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iServiceMailSender_SendMailMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailMessage" />
  </wsdl:message>
  <wsdl:message name="iServiceMailSender_SendMailWithSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailWithSettings" />
  </wsdl:message>
  <wsdl:message name="iServiceMailSender_SendMailFromModuleNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailFromModuleNotification" />
  </wsdl:message>
  <wsdl:message name="iServiceMailSender_SendMailFromGroupNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailFromGroupNotification" />
  </wsdl:message>
  <wsdl:message name="iServiceMailSender_SendMailMessagesFromTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailMessagesFromTemplate" />
  </wsdl:message>
  <wsdl:portType name="iServiceMailSender">
    <wsdl:operation name="SendMailMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/iServiceMailSender/SendMailMessage" message="tns:iServiceMailSender_SendMailMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailWithSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/iServiceMailSender/SendMailWithSettings" message="tns:iServiceMailSender_SendMailWithSettings_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailFromModuleNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/iServiceMailSender/SendMailFromModuleNotification" message="tns:iServiceMailSender_SendMailFromModuleNotification_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailFromGroupNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/iServiceMailSender/SendMailFromGroupNotification" message="tns:iServiceMailSender_SendMailFromGroupNotification_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailMessagesFromTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/iServiceMailSender/SendMailMessagesFromTemplate" message="tns:iServiceMailSender_SendMailMessagesFromTemplate_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetMsmqBinding_iServiceMailSender" type="tns:iServiceMailSender">
    <wsp:PolicyReference URI="#NetMsmqBinding_iServiceMailSender_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/msmq" />
    <wsdl:operation name="SendMailMessage">
      <soap12:operation soapAction="http://tempuri.org/iServiceMailSender/SendMailMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMailWithSettings">
      <soap12:operation soapAction="http://tempuri.org/iServiceMailSender/SendMailWithSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMailFromModuleNotification">
      <soap12:operation soapAction="http://tempuri.org/iServiceMailSender/SendMailFromModuleNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMailFromGroupNotification">
      <soap12:operation soapAction="http://tempuri.org/iServiceMailSender/SendMailFromGroupNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMailMessagesFromTemplate">
      <soap12:operation soapAction="http://tempuri.org/iServiceMailSender/SendMailMessagesFromTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMailSender">
    <wsdl:port name="NetMsmqBinding_iServiceMailSender" binding="tns:NetMsmqBinding_iServiceMailSender">
      <soap12:address location="net.msmq://localhost/private/lm_mail" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.msmq://localhost/private/lm_mail</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>