3-Business/1-OldProject/COL_Presentation/Service References/PermissionService/ServicePermission4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/lm.Comol.Core.DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sviluppo01/AdevicoTS/WCF_CoreServices/ServicePermission.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ModuleObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommunityID" type="xs:int" />
      <xs:element minOccurs="0" name="FQN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectGuidID" type="ser:guid" />
      <xs:element minOccurs="0" name="ObjectIdVersion" type="xs:long" />
      <xs:element minOccurs="0" name="ObjectLongID" type="xs:long" />
      <xs:element minOccurs="0" name="ObjectTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleObject" nillable="true" type="tns:ModuleObject" />
  <xs:complexType name="ArrayOfStandardActionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StandardActionType" type="tns:StandardActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStandardActionType" nillable="true" type="tns:ArrayOfStandardActionType" />
  <xs:simpleType name="StandardActionType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Play">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Edit">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="VirtualDelete">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Delete">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="VirtualUndelete">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Admin">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Create">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ViewPersonalStatistics">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ViewAdvancedStatistics">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">256</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="EditPermission">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">512</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="EditMetadata">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1024</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ViewUserStatistics">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2048</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ViewDescription">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4096</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DownloadItem">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8192</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ViewAdministrationCharts">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16384</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ViewUserCharts">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32768</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ModuleStatistics">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65536</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ViewPreview">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">131072</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="StandardActionType" nillable="true" type="tns:StandardActionType" />
  <xs:complexType name="ArrayOfdtoItemEvaluationOflong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dtoItemEvaluationOflong" nillable="true" type="tns:dtoItemEvaluationOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdtoItemEvaluationOflong" nillable="true" type="tns:ArrayOfdtoItemEvaluationOflong" />
  <xs:complexType name="dtoItemEvaluationOflong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="dtoItemEvaluationOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/lm.Comol.Core.DomainModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:dtoEvaluation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Item" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="dtoItemEvaluationOflong" nillable="true" type="tns:dtoItemEvaluationOflong" />
  <xs:complexType name="dtoEvaluation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlreadyCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Completion" type="xs:short" />
      <xs:element minOccurs="0" name="IdLink" type="xs:long" />
      <xs:element minOccurs="0" name="Mark" type="xs:short" />
      <xs:element minOccurs="0" name="isCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="isPassed" type="xs:boolean" />
      <xs:element minOccurs="0" name="isStarted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dtoEvaluation" nillable="true" type="tns:dtoEvaluation" />
</xs:schema>